@model IEnumerable<jobSchedule.Models.Lifeguard>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.city.city_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lifeguard_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.city.city_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lifeguard_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.lifeguardID }) |
            @Html.ActionLink("Details", "Details", new { id=item.lifeguardID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.lifeguardID })
        </td>
    </tr>
}

</table>
